.container{
    margin-left: 0;
    padding-top: 1rem;
}

.linkName{
    font-family: 'Volte', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 18px;
    text-decoration: none;
    color: white;

}