

.container{
    position: relative;
    width: 100vw;
    height: 768px;
    
}


.topContainer{
    height:600px;
    background-image: url('../../assets/BackgroundImage/BlakeLearningCenterBg.jpg');
    background-size: cover;
    background-position: center;
}